img {
    height: 250px;
    width: 250px;
  }
  
  .mylist {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  body {
    background-color: rgb(250, 164, 3)
  }
  h1
  { color: darkred; 
    font-style: italic;
    text-decoration: underline;
  }
  p {
    color: darkred;
    font-style: italic;
    font-weight: bold;
  }